.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
  color: rgb(48, 108, 119);
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

h2 {
  font-size: 16px;
  font-weight: 100;
}
.coder {
  font-size: 10px;
  margin-top: 100px;
}

.emoji {
  font-size: 60px;
}
.temp {
  font-size: 40px;
}
.weather-details {
  list-style: none;
}
.unit {
  position: relative;
  font-size: 16px;
  top: -17px;
}
